<div class = "listed-note">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Image:</strong>
</p>
<%= image_tag "/user_images/#{@note.image}",class:"listed-image" %></br>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Destroy', note_path(@note), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', user_path(@note.user.id) %>
</div>